* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

h3 {
    color: blue;
    text-align: center;
    padding: 20px;
}

table {
 
    width: 80%;
    border-collapse: collapse;
    margin-left: 200px;
    margin-bottom: 70px;
   
    
        tr:nth-child(odd) {
            background-color: #D6EEEE;

            
          }

    
    
}

th, td {
    
    padding: 8px;
    text-align: left;
}


